<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>
<div class="container">
    <div class="container">
        <div>
            <h2>MYAPGE</h2>
            <div class="mypage-header mt-5">
                <div class="profile">
                    <th:block th:if="${memberInfoDto.profileImageUrl==null}">
                        <img th:src="@{/images/layout/profile.png}" id="memberProfileImage">
                    </th:block>
                    <th:block  th:unless="${memberInfoDto.profileImageUrl==null}">
                        <img th:src="@{|/upload/${memberInfoDto.profileImageUrl}|}" id="memberProfileImage">
                    </th:block>
                </div>
                <form method="post" action="" enctype="multipart/form-data"
                      id="profileImageForm">
                    <input th:type="file" name="profileImageUrl" id="profileSelect" style="display: none">
                </form>
                <div class="info">
                    <a href="" th:href="@{/story/upload}" class="btn btn-primary">STORY</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    const userId = [[${#authentication.principal.loggedMember.userId}]];
    $(".profile").on("click",function() {
        //이벤트 위임
        $("#profileSelect").trigger("click");
    })
    $("#profileSelect").on("change",function(e){
        console.log(e);
        const file = e.target.files[0];

        const profileImageForm = $("#profileImageForm")[0];
        const formData = new FormData(profileImageForm);
        $.ajax({
            url:`/api/member/${userId}/profileImageUrl`,
            data:formData,
            contentType:false,
            processData:false,
            method:"put",
            enctype:"multipart/form-data",
            success:function(res){
                console.log(res);
                const fileReader = new FileReader();
                fileReader.onload=function() {
                    $("#memberProfileImage").attr("src",
                        "/upload/"+res.memberInfo.profileImageUrl
                    )
                }
                fileReader.readAsDataURL(file);
            },
            error:function(err) {
                console.log(err);
            }
        })
    })

</script>
</html>