<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<header class=" container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
            <img src="" th:src="@{/images/layout/logo.png}" style="width:100px">
        </a>
    </div>


    <div class="col-md-3 text-end" sec:authorize="!isAuthenticated()">
        <a href="" th:href="@{/member/login}" class="btn btn-outline-primary me-2">Login</a>
        <a href="" th:href="@{/member/signin}" class="btn btn-primary">Sign-up</a>
    </div>


    <div class="col-md-3 text-end"  sec:authorize="isAuthenticated()">
        <a href="" th:href="@{/member/info}" class="btn btn-outline-primary me-2"
           th:text="${#authentication.principal.loggedMember.userName}"
        >정형돈</a>
    </div>
</header>
</html>