<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/head :: head02('SIGNIN','alien02.png')}"></head>
<header th:replace="~{fragment/header}"></header>
<div class="container">
    <div class="container justify-content-center d-flex">
        <div class="col-4">
            <h2>STORY</h2>
            <form method="post" action="/image/upload"  enctype="multipart/form-data">
                <div class="mb-3">
                    <div class="mb-3">
                        <label for="file" class="form-label">STORY UPLOAD</label>
                        <input class="form-control" type="file" id="file" name="file" >
                    </div>
                    <div class="preview-box">
                        <img src="/images/500.png" id="preview">
                    </div>
                    <div class="mb-3">
                        <label for="file" class="form-label"> CAPTION</label>
                        <input class="form-control" type="text" id="caption" name="caption" >
                    </div>
                </div>
                <div class="mt-5 d-grid">
                    <button class="btn btn-primary">UPLOAD</button>
                </div>
            </form>

        </div>
    </div>
</div>
</html>